doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 hello everybody
        main
            #setRoom 
                form(action="")
                    input(placeholder="room", required, type="text")
                    button Enter Room
                h4 Open Rooms:
                ul
            #innerRoom 
                h3
                ul
                form#nickName
                    input(placeholder="nickName", required, type="text")
                    button Save
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
            #stream
                #myStream 
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    button#mute Mute
                    button#camera Camera off
                    select#cameras
                    video#peerFace(autoplay, playsinline, width="400", height="400")
        script(src="/socket.io/socket.io.js")
        script(src="/userLoading/js/app.js")